.editmain {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(#FFFFFF, #F1D7F7);
    min-width: 700px;
}