.onestoryinnermain {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(200, 187, 226, 0.719);
    border-radius: 5px;
    border: 2px solid black;
}

.onestorymain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onestoryimgholder {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
}

.onestoryimg {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
}

.ostop {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.modalwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.onestoryinnertop {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 220px;
    min-height: 220px;
}

.buttonlike {
    font-weight: bold;
    text-underline-position: auto;
    color: darkblue;
}

.buttonlike:hover {
    cursor: pointer;
}

.ostopui {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.onestoryinnerbot {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.comments {
    width: 90%;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.596);
    padding: 20px;
}

.tagimg {
    width: 80px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid black;
}

.tagholder {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.padme {
    padding: 10px;
}

.starimg {
    max-width: 20px;
    max-height: 20px;
}

.noof {
    overflow: hidden;
    width: 90%;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.fw {
    display: flex;
    flex-wrap: wrap;
}

.cinner {
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.icom {
    max-height: 200px;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px black;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
}

.icomtop {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.commentbox {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graysmall {
    color: darkgray;
    font-size: 14px;
    text-decoration: underline;
}

.commentform {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.cinp {
    width: 300px;
    height: 100px;
}

.cinp:active {
    border: 2px solid black;
}

.circle {
    height: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    padding: 5px;
    border: 2px solid black;
}

.cbut {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.cbut:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}

.stars {
    display: flex;
    align-items: center;
}

.brownme {
    color: brown;
    text-decoration: underline;
}