.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.map-container {
    width: 500px;
    height: 500px;
}

.agbot {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.glist {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 514px)
}

.border {
    border: 2px solid black;
    margin-right: 15px;
    height: 514px;
    width: 514px;
}

.innerg {
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
    text-align: center;
}

.innerg:hover {
    border: 4px solid black;
    box-shadow: 5px 5px 5px darkgray;
}

.underlineme {
    text-decoration: underline;
}

.centerme {
    display: flex;
    align-items: center;
    justify-content: center;
}