.landingmain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topholder {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    background-color: #dcd4dd98;
    border: 2px solid black;
}

.landingintro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.bigfont {
    font-size: 24px;
    padding: 10px;
}

.bottomholder {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
}

.samples {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    background-color: #dcd4dd98;
    border-radius: 10px;
    border: 2px solid black;   
    justify-content: center;
}

.sampleimage {
    width: 200px;
    height: 140px;
    display: flex;
    align-items: center;
}

.sampleimageitself {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}

.centerh3 {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.previewholder {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.innerpreview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.hoverme:hover {
    background-color: rgba(255, 255, 255, 0.423);
    border: 3px solid black;
    cursor: pointer;
}

.centerme2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}