.landingmain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topholder {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: center;
}

.landingintro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.bigfont {
    font-size: 24px;
    padding: 10px;
}

.bottomholder {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
}

.samples {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    background-color: beige;
    border-radius: 10px;
    border: 1px solid black;    
}