/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    font-family: 'Quicksand', serif;
    background: linear-gradient(90deg, rgba(41, 41, 208, 0.53) 0%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 85%, rgba(41, 41, 208, 0.53) 100%);
    /*background: url("./maybebg.png") 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}

button:hover {
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

#modal-content {
    margin: 0px;
    border-radius: 10px;
    border: 2px solid black;
}