/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html {
    height: 100%;
    font-family: 'Inconsolata', serif;
    background: linear-gradient(#FFFFFF, #42b969);
    background-attachment: fixed;
}

button:hover {
    cursor: pointer;
}