/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
}

html {
    height: 100%;
    font-family: 'Inconsolata', serif;
    background: linear-gradient(#FFFFFF, #7cbb91);
    background-attachment: fixed;
}

button:hover {
    cursor: pointer;
    background-color: #015f20;
    font-weight: bolder;
}