.LoginMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.LoginFormMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(227, 227, 141, 0.319);
    border-radius: 10px;
    border: 1px solid black;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.type {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 5s;
    animation-timing-function: steps(40, end);
    animation-fill-mode: forwards;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 500px;
}

.logininputs {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
}

.buttoncontainer {
    display: flex;
    justify-self: center;
    align-items: center;
}

.boldme {
    font-weight: bold;
}

.biggerfont {
    font-size: 20px;
}

.normalbutton {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  box-sizing: border-box;
  justify-content: center;
  padding: 5px;
  font-size: 15px;
  margin: 0 auto;
}

.buttonholder {
    text-align: center;
}

.superbig {
    font-size: 50px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.introtxtholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerme {
    display: flex;
    justify-content: flex-end;
}

.redme {
    color: red
}