.bigfont2 {
    font-size: 32px;
    font-weight: bold;
    padding-right: 7px;
}

.boldd {
    font-weight: bold;
}

.allstorymain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allstorytop {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.writestoryimg {
    height: 30px;
    width: 30px;
}

.ditto {
    display: flex;
    align-items: center;
}

.allstorybot {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
}

.filteroption {
    width: 120px;
    max-width: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(193, 174, 212);
}

.asright {
    width: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.borderme2 {
    border-bottom: 1px solid black;
}

.asitems {
    background-color: rgba(205, 197, 223, 0.719);
    overflow: hidden;
    display: flex;
    height: 180px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}

.asitems:hover {
    background-color: white;
    border: 3px solid black;
    cursor: pointer;
}

.sampleimage2 {
    padding-right: 10px;
    border-right: 2px solid black;
    max-width: 180px;
    max-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sampleimageitself2 {
    width:100%;
    height:100%;
    object-fit: cover;
}

.buttonme {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
}

.buttonme:hover {
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.sf {
    overflow: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;  
}

.sf:focus {
    border: 1px solid blue;
}