.bigfont2 {
    font-size: 32px;
    font-weight: bold;
    padding-right: 7px;
}

.boldd {
    font-weight: bold;
}

.allstorymain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allstorytop {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.writestoryimg {
    height: 30px;
    width: 30px;
}

.ditto {
    display: flex;
    align-items: center;
}

.allstorybot {
    display: flex;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.borderme2 {
    border-bottom: 1px solid black;
}

.asitems {
    background-color: rgba(200, 187, 226, 0.719);
    overflow: hidden;
    display: flex;
    height: 180px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}

.asitems:hover {
    background-color: white;
    border: 3px solid black;
    cursor: pointer;
}

.sampleimage2 {
    padding-right: 10px;
    border-right: 2px solid black;
    max-width: 180px;
    max-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sampleimageitself2 {
    min-height: 130px;
    min-width: 170px;
    object-fit: cover;
}

.buttonme {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
}

.buttonme:hover {
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
