.profile-dropdown {
  position: absolute;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.bordertop {
  border-top: 1px dotted rgb(159, 153, 153);
}

.navbarmain {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 90px;
  border-bottom: 1px solid black;
  justify-content: center;
  margin: 0px;
  align-items: center;
  background: linear-gradient(#eee9e985, #8c91c7b1);
  background-size: contain;
}

.navbarholder {
  width: 60%;
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoimg {
  max-width: 300px;
  max-height: 75px;
}

.userimg {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.topmargin {
  margin-top: 5px;
}

.userbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid black;
  max-height: 35px;
  max-width: 80px;
}

.userbutton:hover {
  background-color: #FFFFFF;
}

.nomargin {
  margin: 0px;
}