@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.deletemain {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(200, 187, 226, 0.719);
}

.modalbutton {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Nunito', serif;
    border: 1px solid black
}

.redme {
    background-color: rgba(206, 164, 164, 0.649);
}

.modalbutton:hover {
    font-weight: bold;
    cursor: pointer;
}

.grayline {
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.lineabove {
    padding-top: 10px;
}